body {
    margin: 0;
}

.login {
    height: 100vh;
}

.login-page {
    position: relative;
    margin:auto; 
    background-color: grey;
    border-width: 3px;
    border-color: #000;
    height: 400px;
    width: 300px;
    top: 20%;
    border-radius: 10px;
}

.login-page img {
    display: block;
    margin: auto;
    padding-top: 30px;
    width: 30%;
}

.form {
    position: relative;
    margin: auto;
    width: 90%;
    text-align: center;
    padding-top: 30px;
}

.form input {
width: 80%;
height: 40px;
border-radius: 10px;
margin: 5px;
border-style:none;
padding-left: 10px;
}

.form button {
    width: 85%;
    height: 40px;
    margin-top: 5px;
    border-radius: 10px;
    border-style:none;
    cursor: pointer;
}

