* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    line-height: 1.2em;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

p,
button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.4em;
}

p {
    font-weight: 400;
}

button {
    font-weight: 1400;
}

header {
    padding: 5px;
    text-align: center;
    background: #000;
    color: white;
    font-size: 30px;
}

section#to-do-list,
section#cv-list {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}