body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}

div#recuritIT-logo{
    margin-bottom:50px;
    width:80%;
}

div#recuritIT-logo img{
    display: block;
    margin:auto;
    max-width:350px;
    width:90%;
}

form{
    margin-bottom:30px;
    width: 90%;
    max-width:350px;
}

form:last-of-type{
    margin-bottom:0px;
}

form fieldset{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

form fieldset label{
    flex-basis: 100%;
    margin-bottom:5px;
}

form fieldset input[type="email"], form fieldset input[type="text"]{
    margin-bottom:10px;
    border: 3px solid #282b2c;
}

p#showPassword{
    margin-bottom:15px;
}