*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    background:#e74c3c;
    padding:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color:white;
}

button,a.button{
    display: inline-block;
    width: auto;
    color: white;
    font-size: 20px;
    user-select: none;
    border: none;
    border-radius: 10px;
    padding: 30px 0px;
    background: #2c3e50;
    flex-basis:100%;
    max-width: 440px;
    display:flex;
    justify-content: center;
}